


    <div id="footer" data-role="footer" data-position="fixed">
        <div data-role="navbar">
            <ul id="footer-list">
                <li>
                    <a ng-show="actionButton.state == 'READ'" ng-click="delete($event)" data-transition="slide" data-role="button" data-icon="delete" id="delete-friend">Delete</a>
                </li>
                <li>
                    <!--<a grails-linked="clickHiddenSubmit" ng-click="dispatch($event)" data-transition="slide" data-role="button" data-icon="save" id="submit-friend">-->
                    <a ng-click="dispatch($event)" data-transition="slide" data-role="button" data-icon="save" id="submit-friend">
                        <span ng-show="actionButton.state == 'INIT'">Add</span>
                        <span ng-show="actionButton.state == 'READ'">Update</span>
                        <span ng-show="actionButton.state == 'CREATE'">Create</span>
                    </a>
                </li>
            </ul>
        </div>

    </div>
