<div data-role="content">
    <form id="form-update-friend" ng-controller="FormCtrl" name="formUpdateFriend">

        <ul data-role="listview" data-inset="true">
            <li data-role="fieldcontain">
                <label for="input-friend-firstname">Firstname</label>
                <input required ng-minlength="2" ng-model="form.firstname" type="text" name="firstname"
                       id="input-friend-firstname" value=""/>
            </li>
            <li data-role="fieldcontain">
                <label for="input-friend-lastname">Lastname</label>
                <input required ng-minlength="3" ng-model="form.lastname" type="text" name="lastname"
                       id="input-friend-lastname" value=""/>
            </li>
            <li jqm-reset="friend" data-role="fieldcontain">
                <label for="input-friend-registrationDate">Registration Date</label>
                <input ng-model="form.registrationDate" type="text" data-type="date"
                       name="registrationDate" id="input-friend-registrationDate" value=""/>
            </li>
        </ul>

        <input ng-model="form.id" type="hidden" name="id" id="input-friend-id"/>
        <input ng-model="form.version" type="hidden" name="version" id="input-friend-version"/>
        <input ng-model="form.class" type="hidden" name="class" id="input-friend-class"/>
        <!--<div id="dddd-wrapper" class="ui-screen-hidden">-->
        <!--<input type="submit"  id="clickHiddenSubmit" value="hidden submit"/>-->
        <!--</div>-->
    </form>
</div>
